<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Frontpage ANY>
<!ATTLIST Frontpage id ID #REQUIRED>
<!ELEMENT Items ANY>
<!ATTLIST Items id ID #REQUIRED>
<!ELEMENT Contactpage ANY>
<!ATTLIST Contactpage id ID #REQUIRED>
<!ELEMENT Link ANY>
<!ATTLIST Link id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>
<!ELEMENT ProductGallery ANY>
<!ATTLIST ProductGallery id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Frontpage id="1047" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-03-06T21:58:52" updateDate="2014-03-07T19:43:17" nodeName="Forside" urlName="forside" path="-1,1047" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1045" nodeTypeAlias="Frontpage">
    <showInTopMenu>0</showInTopMenu>
    <umbracoNaviHide>1</umbracoNaviHide>
    <bodyText><![CDATA[<p>Hos Mouret interieur finder du fine gamle franske ting - hovedsageligt industriel<br />vintage. Alle vores produkter har vi selv hentet hjem fra Frankrig og udvalgt med<br />største omhu. Vi er selv ret vilde med det vi finder og har derfor også lidt svært ved<br />at skulle af med det igen. Så vi “låner og passer på det” til det skal videre til et nyt<br />hjem hvor man også sætter pris på de fine gamle ting!</p>]]></bodyText>
    <leftImage>1051</leftImage>
    <midImage>1051</midImage>
    <rightImage>1051</rightImage>
    <Textpage id="1054" parentID="1047" level="2" creatorID="0" sortOrder="0" createDate="2014-03-07T19:36:23" updateDate="2014-03-07T20:16:44" nodeName="Information" urlName="information" path="-1,1047,1054" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <showInTopMenu>1</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h1>Møbler med et “tvist af historiens vingesus”</h1>
<p><br />Det hele startede i efteråret 2013, vi havde lige bygget om, og stod og manglede et<br />møbel der kunne bryde stilen i vores køkken – en rå kontrast til det fine skandinaviske design. Efter lang tids søgen fandt vi frem til, det måtte blive et gammelt arkivskab (gerne fransk) da vi er fuldstændig vilde med den rå franske industrielle stil - ikke for meget, men lige nok til, at det fine og det rå fremhæver hinanden. Vi fandt et smukt gammelt afsyret arkivskab i Frankrig, og da vi satte det ind i vores køkken var vi bare solgte - og det var flere af vores venner også. Så efter lidt overvejelse og planlægning har vi været afsted igen, og denne gang hjembragt en masse dejlige helt unikke franske ting - der emmer af historie og klæder et hvert hjem!</p>
<p> </p>
<p><br />Anne Charlotte Mouret</p>
<p><br />Indehaver af MOURETinterieur</p>]]></bodyText>
    </Textpage>
    <Contactpage id="1064" parentID="1047" level="2" creatorID="0" sortOrder="1" createDate="2014-03-07T20:40:13" updateDate="2014-03-07T20:58:50" nodeName="Kontakt" urlName="kontakt" path="-1,1047,1064" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1062" nodeTypeAlias="Contactpage">
      <showInTopMenu>1</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Kontaktside! test</p>]]></bodyText>
      <googleMapsIframe><![CDATA[<iframe width="425" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.dk/maps?f=q&amp;source=s_q&amp;hl=da&amp;geocode=&amp;q=Glud+og+Marstrand+odense&amp;aq=&amp;sll=55.393152,10.555115&amp;sspn=0.674654,1.234589&amp;t=h&amp;ie=UTF8&amp;hq=Glud+og+Marstrand&amp;hnear=Odense&amp;ll=55.410542,10.366567&amp;spn=0.010537,0.01929&amp;z=14&amp;iwloc=A&amp;cid=9680683823032360994&amp;output=embed"></iframe><br /><small><a href="https://maps.google.dk/maps?f=q&amp;source=embed&amp;hl=da&amp;geocode=&amp;q=Glud+og+Marstrand+odense&amp;aq=&amp;sll=55.393152,10.555115&amp;sspn=0.674654,1.234589&amp;t=h&amp;ie=UTF8&amp;hq=Glud+og+Marstrand&amp;hnear=Odense&amp;ll=55.410542,10.366567&amp;spn=0.010537,0.01929&amp;z=14&amp;iwloc=A&amp;cid=9680683823032360994" style="color:#0000FF;text-align:left">Vis stort kort</a></small>]]></googleMapsIframe>
    </Contactpage>
    <Textpage id="1056" parentID="1047" level="2" creatorID="0" sortOrder="2" createDate="2014-03-07T19:36:40" updateDate="2014-03-07T20:16:36" nodeName="Handelsbetingelser" urlName="handelsbetingelser" path="-1,1047,1056" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <showInTopMenu>1</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Handelsbetingelser!</p>]]></bodyText>
    </Textpage>
    <Link id="1061" parentID="1047" level="2" creatorID="0" sortOrder="3" createDate="2014-03-07T20:15:54" updateDate="2014-03-07T20:16:50" nodeName="Facebook" urlName="facebook" path="-1,1047,1061" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Link">
      <linkUrl>http://facebook.com</linkUrl>
      <targetNewWindow>1</targetNewWindow>
      <showInTopMenu>1</showInTopMenu>
    </Link>
    <ProductGallery id="1067" parentID="1047" level="2" creatorID="0" sortOrder="4" createDate="2014-03-07T21:09:13" updateDate="2014-03-07T21:09:28" nodeName="Arkivskabe" urlName="arkivskabe" path="-1,1047,1067" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <Product id="1074" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2014-03-07T21:30:00" updateDate="2014-03-07T22:05:59" nodeName="Arkivskab test produkt" urlName="arkivskab-test-produkt" path="-1,1047,1067,1074" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Product">
        <description><![CDATA[<p>Test produkt beskrivelse.asdas adasdasdas asdasd</p>
<p>asdasdasd</p>
<p>asdasdads<br />asdasdasd</p>
<p>asdadasd</p>
<p>asda</p>
<p>da</p>
<p>da</p>
<p>da</p>
<p>da</p>
<p>d</p>
<p>ad</p>
<p>as</p>
<p>Pris: 5000 kr.</p>]]></description>
        <image>1077</image>
      </Product>
      <Product id="1078" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2014-03-07T21:55:19" updateDate="2014-03-07T21:55:34" nodeName="Ekstra test produkt" urlName="ekstra-test-produkt" path="-1,1047,1067,1078" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Product">
        <description><![CDATA[<p>beskrivelse!</p>]]></description>
        <image>1051</image>
      </Product>
    </ProductGallery>
    <ProductGallery id="1068" parentID="1047" level="2" creatorID="0" sortOrder="5" createDate="2014-03-07T21:13:29" updateDate="2014-03-07T21:13:31" nodeName="Stole" urlName="stole" path="-1,1047,1068" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
    </ProductGallery>
    <ProductGallery id="1069" parentID="1047" level="2" creatorID="0" sortOrder="6" createDate="2014-03-07T21:13:39" updateDate="2014-03-07T21:13:42" nodeName="Lamper" urlName="lamper" path="-1,1047,1069" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
    </ProductGallery>
    <ProductGallery id="1070" parentID="1047" level="2" creatorID="0" sortOrder="7" createDate="2014-03-07T21:13:52" updateDate="2014-03-07T21:13:54" nodeName="Diverse" urlName="diverse" path="-1,1047,1070" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
    </ProductGallery>
    <ProductGallery id="1071" parentID="1047" level="2" creatorID="0" sortOrder="8" createDate="2014-03-07T21:14:04" updateDate="2014-03-07T21:14:06" nodeName="Opbevaring" urlName="opbevaring" path="-1,1047,1071" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
    </ProductGallery>
    <ProductGallery id="1072" parentID="1047" level="2" creatorID="0" sortOrder="9" createDate="2014-03-07T21:14:14" updateDate="2014-03-07T21:14:17" nodeName="Borde" urlName="borde" path="-1,1047,1072" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
    </ProductGallery>
  </Frontpage>
</root>