<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Frontpage ANY>
<!ATTLIST Frontpage id ID #REQUIRED>
<!ELEMENT Items ANY>
<!ATTLIST Items id ID #REQUIRED>
<!ELEMENT Contactpage ANY>
<!ATTLIST Contactpage id ID #REQUIRED>
<!ELEMENT Link ANY>
<!ATTLIST Link id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>
<!ELEMENT ProductGallery ANY>
<!ATTLIST ProductGallery id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Frontpage id="1047" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-03-06T21:58:52" updateDate="2014-03-18T17:24:44" nodeName="Forside" urlName="forside" path="-1,1047" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1045" nodeTypeAlias="Frontpage">
    <showInTopMenu>0</showInTopMenu>
    <umbracoNaviHide>1</umbracoNaviHide>
    <bodyText><![CDATA[<p>Hos Mouret interieur finder du fine gamle franske ting - hovedsageligt industriel<br />vintage. Alle vores produkter har vi selv hentet hjem fra Frankrig og udvalgt med<br />største omhu. Vi er selv ret vilde med det vi finder og har derfor også lidt svært ved<br />at skulle af med det igen. Så vi “låner og passer på det” til det skal videre til et nyt<br />hjem hvor man også sætter pris på de fine gamle ting!</p>]]></bodyText>
    <bannerImages><![CDATA[1093,1094,1095,1096,1097,1098,1099,1100]]></bannerImages>
    <Textpage id="1054" parentID="1047" level="2" creatorID="0" sortOrder="0" createDate="2014-03-07T19:36:23" updateDate="2014-03-07T20:16:44" nodeName="Information" urlName="information" path="-1,1047,1054" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <showInTopMenu>1</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<h1>Møbler med et “tvist af historiens vingesus”</h1>
<p><br />Det hele startede i efteråret 2013, vi havde lige bygget om, og stod og manglede et<br />møbel der kunne bryde stilen i vores køkken – en rå kontrast til det fine skandinaviske design. Efter lang tids søgen fandt vi frem til, det måtte blive et gammelt arkivskab (gerne fransk) da vi er fuldstændig vilde med den rå franske industrielle stil - ikke for meget, men lige nok til, at det fine og det rå fremhæver hinanden. Vi fandt et smukt gammelt afsyret arkivskab i Frankrig, og da vi satte det ind i vores køkken var vi bare solgte - og det var flere af vores venner også. Så efter lidt overvejelse og planlægning har vi været afsted igen, og denne gang hjembragt en masse dejlige helt unikke franske ting - der emmer af historie og klæder et hvert hjem!</p>
<p> </p>
<p><br />Anne Charlotte Mouret</p>
<p><br />Indehaver af MOURETinterieur</p>]]></bodyText>
    </Textpage>
    <Contactpage id="1064" parentID="1047" level="2" creatorID="0" sortOrder="1" createDate="2014-03-07T20:40:13" updateDate="2014-03-08T11:00:26" nodeName="Kontakt" urlName="kontakt" path="-1,1047,1064" isDoc="" nodeType="1063" creatorName="admin" writerName="Kasper" writerID="1" template="1062" nodeTypeAlias="Contactpage">
      <showInTopMenu>1</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Du er altid velkommen til at kontakte mig og høre om varene eller besøge mit showroom der har åbent hver torsdag og fredag fra 12-18 og lørdag fra 10-14. Specielle fremvisninger kan arrangeres hvis du ikke har mulighed for at komme på de ovennævnte tidspunkter.</p>
<p> </p>
<p>Jeg kan kontaktes på mobil: 2720 4092</p>
<p> </p>
<p>Eller email: <a href="mailto:info@mouretinterieur.dk" target="_blank" title="Mail">info@mouretinterieur.dk</a></p>]]></bodyText>
      <googleMapsIframe><![CDATA[<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2264.6886750603285!2d10.400347999999992!3d55.41578199999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464d1fe2cce781ff%3A0x1dc820c6102ed678!2sMonbergsvej+13!5e0!3m2!1sda!2sdk!4v1394272224237" width="400" height="400" frameborder="0" style="border:0"></iframe>]]></googleMapsIframe>
    </Contactpage>
    <Textpage id="1056" parentID="1047" level="2" creatorID="0" sortOrder="2" createDate="2014-03-07T19:36:40" updateDate="2014-03-08T11:05:10" nodeName="Handelsbetingelser" urlName="handelsbetingelser" path="-1,1047,1056" isDoc="" nodeType="1053" creatorName="admin" writerName="Kasper" writerID="1" template="1052" nodeTypeAlias="Textpage">
      <showInTopMenu>1</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Handelsbetingelser</p>
<p> </p>
<p>Da alle varene er gamle, sælges de som beset og tages ikke retur, med mindre andet er aftalt. Varene sælges efter de særlige regler om brugtmoms.</p>
<p> </p>
<p>Jeg pakker og sørger gerne for forsendelse, men gør opmærksom på, at dette ikke er en webshop. Betaling kan udføres via bankoverførsel eller via PayPal. Forsendelsesomkostninger betales forud sammen med varens pris. Drejer det sig om store møbler, sendes de med fragtmand, med mindre du selv har mulighed for at hente dem.</p>
<p> </p>
<p>Bank oplysninger:</p>
<p>Reg. nr. kontonr.</p>
<p> </p>
<p>PayPal: 27204092</p>
<p> </p>
<p>CVRnr.: 35078738</p>]]></bodyText>
    </Textpage>
    <Link id="1061" parentID="1047" level="2" creatorID="0" sortOrder="3" createDate="2014-03-07T20:15:54" updateDate="2014-03-08T11:07:30" nodeName="Facebook" urlName="facebook" path="-1,1047,1061" isDoc="" nodeType="1058" creatorName="admin" writerName="Kasper" writerID="1" template="0" nodeTypeAlias="Link">
      <linkUrl>https://www.facebook.com/anne.c.mouret</linkUrl>
      <targetNewWindow>1</targetNewWindow>
      <showInTopMenu>1</showInTopMenu>
    </Link>
    <ProductGallery id="1067" parentID="1047" level="2" creatorID="0" sortOrder="4" createDate="2014-03-07T21:09:13" updateDate="2014-03-07T21:09:28" nodeName="Arkivskabe" urlName="arkivskabe" path="-1,1047,1067" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <Product id="1074" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2014-03-07T21:30:00" updateDate="2014-03-18T19:00:01" nodeName="Arkivskab test produkt" urlName="arkivskab-test-produkt" path="-1,1047,1067,1074" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Product">
        <description><![CDATA[<p>Test produkt beskrivelse.asdas adasdasdas asdasd</p>
<p>asdasdasd</p>
<p> </p>
<p>Pris: 5000 kr.</p>]]></description>
        <images><![CDATA[1093,1094]]></images>
      </Product>
      <Product id="1078" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2014-03-07T21:55:19" updateDate="2014-03-18T17:32:15" nodeName="Ekstra test produkt" urlName="ekstra-test-produkt" path="-1,1047,1067,1078" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Product">
        <description><![CDATA[<p>beskrivelse!</p>]]></description>
        <images><![CDATA[1095,1096,1097]]></images>
      </Product>
    </ProductGallery>
    <ProductGallery id="1068" parentID="1047" level="2" creatorID="0" sortOrder="5" createDate="2014-03-07T21:13:29" updateDate="2014-03-07T21:13:31" nodeName="Stole" urlName="stole" path="-1,1047,1068" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <Product id="1082" parentID="1068" level="3" creatorID="1" sortOrder="0" createDate="2014-03-08T10:29:36" updateDate="2014-03-08T10:32:23" nodeName="Fin stol" urlName="fin-stol" path="-1,1047,1068,1082" isDoc="" nodeType="1073" creatorName="Kasper" writerName="Kasper" writerID="1" template="0" nodeTypeAlias="Product">
        <description><![CDATA[]]></description>
        <images><![CDATA[]]></images>
      </Product>
    </ProductGallery>
    <ProductGallery id="1069" parentID="1047" level="2" creatorID="0" sortOrder="6" createDate="2014-03-07T21:13:39" updateDate="2014-03-07T21:13:42" nodeName="Lamper" urlName="lamper" path="-1,1047,1069" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
      <Product id="1091" parentID="1069" level="3" creatorID="1" sortOrder="0" createDate="2014-03-08T10:43:52" updateDate="2014-03-08T10:45:24" nodeName="Fin lampe fra Lyon" urlName="fin-lampe-fra-lyon" path="-1,1047,1069,1091" isDoc="" nodeType="1073" creatorName="Kasper" writerName="Kasper" writerID="1" template="0" nodeTypeAlias="Product">
        <description><![CDATA[<p>Denne flotte lampe har vi hentet i Lyon. Den er fra starten af 1900 tallet og har stået i et fint fransk hjem.</p>]]></description>
        <images><![CDATA[]]></images>
      </Product>
    </ProductGallery>
    <ProductGallery id="1070" parentID="1047" level="2" creatorID="0" sortOrder="7" createDate="2014-03-07T21:13:52" updateDate="2014-03-07T21:13:54" nodeName="Diverse" urlName="diverse" path="-1,1047,1070" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
    </ProductGallery>
    <ProductGallery id="1071" parentID="1047" level="2" creatorID="0" sortOrder="8" createDate="2014-03-07T21:14:04" updateDate="2014-03-07T21:14:06" nodeName="Opbevaring" urlName="opbevaring" path="-1,1047,1071" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
    </ProductGallery>
    <ProductGallery id="1072" parentID="1047" level="2" creatorID="0" sortOrder="9" createDate="2014-03-07T21:14:14" updateDate="2014-03-07T21:14:17" nodeName="Borde" urlName="borde" path="-1,1047,1072" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ProductGallery">
      <showInTopMenu>0</showInTopMenu>
      <umbracoNaviHide>0</umbracoNaviHide>
    </ProductGallery>
  </Frontpage>
</root>